@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@700&family=Rubik&family=Zilla+Slab:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1A2A33;
  position: relative;
}

code {
  font-family: 'Outfit', sans-serif;
}
